<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://aframe.io/releases/1.4.2/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mind-ar@1.2.2/dist/mindar-image-aframe.prod.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
  </head>

  <body>
    <div class="overflow-hidden absolute">

      <div class="fixed z-auto top-0 left-0 right-0">
        <a href="../ar-camera.html">
          <ion-icon name="close-circle"></ion-icon>
        </a>
      </div>
      
      
      <a-scene mindar-image="imageTargetSrc: ../../src/mind/squid-1/squid-2_1.mind; maxTrack: 2" color-space="sRGB" renderer="colorManagement: true, physicallyCorrectLights" vr-mode-ui="enabled: false" device-orientation-permission-ui="enabled: false">
        <a-assets>
          <a-asset-item id="bearModel" src="../../src/3d-model/squid/squid_dalgona-3d.glb"></a-asset-item>
        </a-assets>
        
        <a-camera position="0 0 0" look-controls="enabled: false"></a-camera>
        
        <a-entity mindar-image-target="targetIndex: 0">
          <a-gltf-model rotation="0 0 0 " position="0 -0.25 0" scale="0.05 0.05 0.05" src="#raccoonModel" animation-mixer>
          </a-entity>
          <a-entity mindar-image-target="targetIndex: 1">
            <a-gltf-model rotation="0 0 0 " position="0 -0.25 0" scale="0.5 0.5 0.5" src="#bearModel" animation-mixer>
            </a-entity>
          </a-scene>
        
       
      </div>
  </body>
  
</html>